@media screen and (max-width: 770px) {
  #section-2 {
    flex-direction: column;
    margin-left: 0;
  }
  #video-section {
    justify-content: center;
  }
  .animated-box {
    margin-top: 12%;
  }

  #discrioption {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .text-box {
    margin: auto;
    width: 85%;
    height: max-content;
    padding: 1.5rem 1.5rem;
  }
  .star-animated-box {
    margin-left: 7.5%;
  }
  #logo-section {
    margin: 12% auto;
    text-align: center;
  }
  img {
    width: 85%;
  }
  .text-box p {
    font-size: 1rem;
  }
  .disc-text p:first-child {
    font-size: 1.4rem;
  }
  #moveable-text {
    margin-top: 30%;
  }
  .content {
    font-size: 1.5rem;
    width: 80%;
  }
}
@media screen and (max-width: 460px) {
  #moveable-text {
    margin-top: 40%;
  }
  .content {
    font-size: 1.4rem;
    width: 90%;
  }
  li {
    text-align: center;
  }
  .video-box {
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 1285px) {
  .content__container__list {
    padding-left: 0;
  }
  .content {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 900px) {
  .content {
    width: max-content;
  }
}
@media screen and (max-width: 1380px) {
  .video-box {
    margin-left: 5px;
  }
}
