@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-bold;
  src: url(../font/Poppins-Bold.ttf);
}
* {
  box-sizing: border-box;
}

body {
  background-color: #e6e6ec;
  padding-left: 4%;
  padding-right: 4%;
  font-family: poppins;
}
#logo-section {
  width: 100%;
  margin-top: 8%;
  margin-bottom: 6%;
  margin-left: 4%;
}
.logo-image {
  width: 32%;
}

#section-2 {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
  overflow: hidden;
}
.yellow-box {
  width: 318px;
  height: 313px;
  background-color: #fcc644;
  margin-right: 2px;
  padding: 29px 21px;
}
.yellow-box p:first-child {
  font-size: 1.2rem;
  font-weight: 300;
}
.yellow-box p:last-child {
  font-size: 1.6rem;
  font-family: poppins-bold;
}
.video-box {
  height: 313px;
  width: 313px;
  padding: 0;
  margin: 0;
}
#red-anim-section {
  padding-left: 8%;
  position: relative;
}

.disc-text {
  padding-top: 3%;
  width: 58%;
}
.disc-text p:first-child {
  font-size: 1.6rem;
  font-family: poppins-bold;
  color: #1d9d9c;
  line-height: 1.9rem;
  margin-top: 1rem;
  width: 17rem;
}
.disc-text p:last-child {
  font-size: 1.1rem;
  color: #0b4b4d;
}
a {
  color: #0b4b4d;
}
#moveable-text {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 16%;
  margin-bottom: 5%;
  position: relative;
}
.content__container__list li:nth-child(1) {
  color: #dd233e;
}
.content__container__list li:nth-child(2) {
  color: #1d9d9c;
}
.content__container__list li:nth-child(3) {
  color: #3a394b;
}
.content__container__list li:nth-child(4) {
  color: #dd233e;
}
#discrioption {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10%;
}
.star-animated-box {
  width: 11em;
  height: 11em;
  display: grid;
  place-items: center;
  background: #3a394b;
  transform-style: preserve-3d;
}
.text-box {
  width: 32rem;
  height: 32rem;
  background-color: #ffffff;
  padding: 3rem 2rem;
  margin-left: 5px;
}
.text-box p {
  font-size: 1.1rem;
  color: #0b4b4d !important;
}
